<div class="bg-white dark:bg-black text-black dark:text-white">
  <div class="container mx-auto">
    <div class="text-4xl pt-10 pb-8 font-bold">PORTFOLIO</div>
    <section class="text-neutral-700">
      <div class="container w-full px-4">
        <div class="columns-1 sm:columns-2 lg:columns-3 gap-4">
          <div *ngFor="let image of portfolioImages" class="relative mb-4 break-inside-avoid">
            <div class="overflow-hidden rounded-lg shadow-lg">
              <a [href]="getCloudinaryUrl(image.filename, image.width, image.height)" data-fancybox="gallery">
                <img [ngSrc]="getCloudinaryUrl(image.filename, image.width, image.height)" 
                     [width]="image.width" 
                     [height]="image.height" 
                     [alt]="image.alt"
                     priority
                     class="w-full h-auto object-cover transition-all duration-500 ease-in-out transform hover:scale-105 hover:brightness-90">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
